main {
    display: block;
}

h1 {
    height: 60px;
}

form input {
    display: block;
    margin: 1% 50%;
    transform: translate(-50%);
    height: 30px;
    width: 40%;
    border: 1.5px solid gray;
    font-size: 1rem;
}

#message {
    height: 150px;
}

button {
    background-color: rgb(237, 241, 9);
    width: 120px;
    height: 40px;
    border: 3px solid gray;
    color: rgb(63, 63, 63);
    font-size: 1.5rem;
}

button:hover {
    background-color: gray;
    border: 3px solid rgb(63, 63, 63);
    color: rgb(237, 241, 9);
    cursor: pointer;
}

form input:hover {
    color: rgb(237, 241, 9);
    background-color: rgb(122, 122, 122);
}

form input:hover::placeholder {
    color: rgb(237, 241, 9);
}