main {
    text-align: center;
    width: 350px;
    height: 200px;
    background-color: bisque;
    display: block;
    margin: 0 auto;
}

.field {
    display: block;
    margin: 10px;
}

form {
    padding-top: 12%;
    margin-top: 50%;
}