body {
    margin: 0;
    padding: 0;
}

.table {
    display: table;
    border: 4px solid black;
    border-spacing: 1px;
    background: black;
}

.colors {
    display: table;
    border: 4px solid white;
    border-spacing: 2px;
    background: black;
}

.table-row {
    display: table-row;
}

.table-col {
    display: table-cell;
    width: 40px;
    height: 40px;
    background-color: white;
}